"-- Import legacy CEO Brain deals\nBEGIN;\n\n-- Soft-delete existing deals in funnel\nUPDATE opportunities SET deleted_at = now(), updated_at = now()\nWHERE organization_id = '19a2d40b-36ea-4668-8941-6496ecf7df67' AND funnel_id = 'f6ff0447-3d5d-4d66-88d4-ac434a01b578' AND deleted_at IS NULL;\n\nUPDATE contacts SET deleted_at = now(), updated_at = now()\nWHERE organization_id = '19a2d40b-36ea-4668-8941-6496ecf7df67' AND deleted_at IS NULL\nAND id IN (\n  SELECT contact_id FROM opportunities\n  WHERE organization_id = '19a2d40b-36ea-4668-8941-6496ecf7df67' AND funnel_id = 'f6ff0447-3d5d-4d66-88d4-ac434a01b578'\n);\n\nDO $$ DECLARE cid uuid := gen_random_uuid(); BEGIN\n  INSERT INTO contacts (id, organization_id, name, company, cnpj, email, phone, position, created_by, custom_fields)\n  VALUES (\n    cid, '19a2d40b-36ea-4668-8941-6496ecf7df67', 'AFRY BRASIL LTDA.', 'AFRY BRASIL',\n    '50648468003008', 'rogerio.arriel@poyry.com.br', '(11) 3472-6357',\n    NULL, '78524d79-66ad-413e-ad69-9f09bf23d45c', '{\"tipo_pessoa\":\"pj\",\"cpf\":null,\"contact_person\":null,\"municipio\":\"GUAIBA\",\"uf\":\"RS\"}'::jsonb\n  );\n  INSERT INTO opportunities (funnel_id, organization_id, title, stage, value, probability, description, owner_id, contact_id, custom_fields)\n  VALUES (\n    'f6ff0447-3d5d-4d66-88d4-ac434a01b578', '19a2d40b-36ea-4668-8941-6496ecf7df67', 'AFRY BRASIL', 'LEADS',\n    NULL, 10, NULL,\n    '78524d79-66ad-413e-ad69-9f09bf23d45c', cid, '{\"tier\":\"G\",\"lead_source\":null}'::jsonb\n  );\nEND $$;\n\nDO $$ DECLARE cid uuid := gen_random_uuid(); BEGIN\n  INSERT INTO contacts (id, organization_id, name, company, cnpj, email, phone, position, created_by, custom_fields)\n  VALUES (\n    cid, '19a2d40b-36ea-4668-8941-6496ecf7df67', 'ALIMENTTA RESTAURANTES EMPRESARIAIS LTDA', 'ALIMENTTA',\n    '09430324009271', 'gilnei@alimentta.net', '(51) 3371-2180',\n    'Marcelo de Carvalho Heineck', '78524d79-66ad-413e-ad69-9f09bf23d45c', '{\"tipo_pessoa\":\"pj\",\"cpf\":null,\"contact_person\":\"Marcelo de Carvalho Heineck\",\"municipio\":\"GUAIBA\",\"uf\":\"RS\"}'::jsonb\n  );\n  INSERT INTO opportunities (funnel_id, organization_id, title, stage, value, probability, description, owner_id, contact_id, custom_fields)\n  VALUES (\n    'f6ff0447-3d5d-4d66-88d4-ac434a01b578', '19a2d40b-36ea-4668-8941-6496ecf7df67', 'ALIMENTTA', 'LEADS',\n    NULL, 10, NULL,\n    '78524d79-66ad-413e-ad69-9f09bf23d45c', cid, '{\"tier\":\"M\",\"lead_source\":null}'::jsonb\n  );\nEND $$;\n\nDO $$ DECLARE cid uuid := gen_random_uuid(); BEGIN\n  INSERT INTO contacts (id, organization_id, name, company, cnpj, email, phone, position, created_by, custom_fields)\n  VALUES (\n    cid, '19a2d40b-36ea-4668-8941-6496ecf7df67', 'ANDRITZ BRASIL LTDA', 'ANDRITZ BR',\n    '62420534001600', 'abl.cadastro@andritz.com', '(41) 2103-7665',\n    'Luiz M├írio Bordini', '78524d79-66ad-413e-ad69-9f09bf23d45c', '{\"tipo_pessoa\":\"pj\",\"cpf\":null,\"contact_person\":\"Luiz M├írio Bordini\",\"municipio\":\"GUAIBA\",\"uf\":\"RS\"}'::jsonb\n  );\n  INSERT INTO opportunities (funnel_id, organization_id, title, stage, value, probability, description, owner_id, contact_id, custom_fields)\n  VALUES (\n    'f6ff0447-3d5d-4d66-88d4-ac434a01b578', '19a2d40b-36ea-4668-8941-6496ecf7df67', 'ANDRITZ BR', 'LEADS',\n    NULL, 10, NULL,\n    '78524d79-66ad-413e-ad69-9f09bf23d45c', cid, '{\"tier\":\"G\",\"lead_source\":null}'::jsonb\n  );\nEND $$;\n\nDO $$ DECLARE cid uuid := gen_random_uuid(); BEGIN\n  INSERT INTO contacts (id, organization_id, name, company, cnpj, email, phone, position, created_by, custom_fields)\n  VALUES (\n    cid, '19a2d40b-36ea-4668-8941-6496ecf7df67', 'AUTOPORT TRANSPORTES E LOGISTICA LTDA.', 'AUTOPORT',\n    '07677731001944', NULL, '(27) 2125-1800',\n    NULL, '78524d79-66ad-413e-ad69-9f09bf23d45c', '{\"tipo_pessoa\":\"pj\",\"cpf\":null,\"contact_person\":null,\"municipio\":\"GUAIBA\",\"uf\":\"RS\"}'::jsonb\n  );\n  INSERT INTO opportunities (funnel_id, organization_id, title, stage, value, probability, description, owner_id, contact_id, custom_fields)\n  VALUES (\n    'f6ff0447-3d5d-4d66-88d4-ac434a01b578', '19a2d40b-36ea-4668-8941-6496ecf7df67', 'AUTOPORT', 'LEADS',\n    NULL, 10, NULL,\n    '78524d79-66ad-413e-ad69-9f09bf23d45c', cid, '{\"tier\":\"M\",\"lead_source\":null}'::jsonb\n  );\nEND $$;\n\nDO $$ DECLARE cid uuid := gen_random_uuid(); BEGIN\n  INSERT INTO contacts (id, organization_id, name, company, cnpj, email, phone, position, created_by, custom_fields)\n  VALUES (\n    cid, '19a2d40b-36ea-4668-8941-6496ecf7df67', 'BBM LOGISTICA S.A', 'BBM LOGISTICA',\n    '01107327000391', 'regulatorio@bbmlogistica.com.br', '(41) 2169-0055',\n    'Marcos Battistela', '78524d79-66ad-413e-ad69-9f09bf23d45c', '{\"tipo_pessoa\":\"pj\",\"cpf\":null,\"contact_person\":\"Marcos Battistela\",\"municipio\":\"GUAIBA\",\"uf\":\"RS\"}'::jsonb\n  );\n  INSERT INTO opportunities (funnel_id, organization_id, title, stage, value, probability, description, owner_id, contact_id, custom_fields)\n  VALUES (\n    'f6ff0447-3d5d-4d66-88d4-ac434a01b578', '19a2d40b-36ea-4668-8941-6496ecf7df67', 'BBM LOGISTICA', 'LEADS',\n    NULL, 10, NULL,\n    '78524d79-66ad-413e-ad69-9f09bf23d45c', cid, '{\"tier\":\"M\",\"lead_source\":null}'::jsonb\n  );\nEND $$;\n\nDO $$ DECLARE cid uuid := gen_random_uuid(); BEGIN\n  INSERT INTO contacts (id, organization_id, name, company, cnpj, email, phone, position, created_by, custom_fields)\n  VALUES (\n    cid, '19a2d40b-36ea-4668-8941-6496ecf7df67', 'BRAZUL TRANSPORTE DE VEICULOS LTDA', 'BRAZUL TRANSPORTES',\n    '60395589002220', 'cscfiscal.cadastro@sada.com.br', '(31) 3071-0700',\n    NULL, '78524d79-66ad-413e-ad69-9f09bf23d45c', '{\"tipo_pessoa\":\"pj\",\"cpf\":null,\"contact_person\":null,\"municipio\":\"GUAIBA\",\"uf\":\"RS\"}'::jsonb\n  );\n  INSERT INTO opportunities (funnel_id, organization_id, title, stage, value, probability, description, owner_id, contact_id, custom_fields)\n  VALUES (\n    'f6ff0447-3d5d-4d66-88d4-ac434a01b578', '19a2d40b-36ea-4668-8941-6496ecf7df67', 'BRAZUL TRANSPORTES', 'LEADS',\n    NULL, 10, NULL,\n    '78524d79-66ad-413e-ad69-9f09bf23d45c', cid, '{\"tier\":\"G\",\"lead_source\":null}'::jsonb\n  );\nEND $$;\n\nDO $$ DECLARE cid uuid := gen_random_uuid(); BEGIN\n  INSERT INTO contacts (id, organization_id, name, company, cnpj, email, phone, position, created_by, custom_fields)\n  VALUES (\n    cid, '19a2d40b-36ea-4668-8941-6496ecf7df67', 'CATSUL GUAIBA - TRANSPORTES HIDROVIARIOS LTDA', 'CATSUL GUAIBA - TRANSPORTES HIDROVIARIOS LTDA',\n    '12998170000277', 'ivan.didio@ouroeprata.com', '(51) 3375-8561',\n    'Hugo Eug├¬nio Fleck', '78524d79-66ad-413e-ad69-9f09bf23d45c', '{\"tipo_pessoa\":\"pj\",\"cpf\":null,\"contact_person\":\"Hugo Eug├¬nio Fleck\",\"municipio\":\"GUAIBA\",\"uf\":\"RS\"}'::jsonb\n  );\n  INSERT INTO opportunities (funnel_id, organization_id, title, stage, value, probability, description, owner_id, contact_id, custom_fields)\n  VALUES (\n    'f6ff0447-3d5d-4d66-88d4-ac434a01b578', '19a2d40b-36ea-4668-8941-6496ecf7df67', 'CATSUL GUAIBA - TRANSPORTES HIDROVIARIOS LTDA', 'LEADS',\n    NULL, 10, NULL,\n    '78524d79-66ad-413e-ad69-9f09bf23d45c', cid, '{\"tier\":\"M\",\"lead_source\":null}'::jsonb\n  );\nEND $$;\n\nDO $$ DECLARE cid uuid := gen_random_uuid(); BEGIN\n  INSERT INTO contacts (id, organization_id, name, company, cnpj, email, phone, position, created_by, custom_fields)\n  VALUES (\n    cid, '19a2d40b-36ea-4668-8941-6496ecf7df67', 'COOPERATIVA CENTRAL GAUCHA LTDA', 'CCGL',\n    '88933114003150', 'marcelo@ccgl.com.br', '(55) 3321-9400',\n    'Caio C├®zar Vianna', '78524d79-66ad-413e-ad69-9f09bf23d45c', '{\"tipo_pessoa\":\"pj\",\"cpf\":null,\"contact_person\":\"Caio C├®zar Vianna\",\"municipio\":\"SANTA ROSA\",\"uf\":\"RS\"}'::jsonb\n  );\n  INSERT INTO opportunities (funnel_id, organization_id, title, stage, value, probability, description, owner_id, contact_id, custom_fields)\n  VALUES (\n    'f6ff0447-3d5d-4d66-88d4-ac434a01b578', '19a2d40b-36ea-4668-8941-6496ecf7df67', 'CCGL', 'QUALIFICADO',\n    NULL, 25, NULL,\n    '78524d79-66ad-413e-ad69-9f09bf23d45c', cid, '{\"tier\":\"E\",\"lead_source\":null}'::jsonb\n  );\nEND $$;\n\nDO $$ DECLARE cid uuid := gen_random_uuid(); BEGIN\n  INSERT INTO contacts (id, organization_id, name, company, cnpj, email, phone, position, created_by, custom_fields)\n  VALUES (\n    cid, '19a2d40b-36ea-4668-8941-6496ecf7df67', 'CHLORUM BRASIL INDUSTRIA LTDA', 'CHLORUM BR',\n    '20034081000239', NULL, '(11) 2307-3955',\n    NULL, '78524d79-66ad-413e-ad69-9f09bf23d45c', '{\"tipo_pessoa\":\"pj\",\"cpf\":null,\"contact_person\":null,\"municipio\":\"GUAIBA\",\"uf\":\"RS\"}'::jsonb\n  );\n  INSERT INTO opportunities (funnel_id, organization_id, title, stage, value, probability, description, owner_id, contact_id, custom_fields)\n  VALUES (\n    'f6ff0447-3d5d-4d66-88d4-ac434a01b578', '19a2d40b-36ea-4668-8941-6496ecf7df67', 'CHLORUM BR', 'LEADS',\n    NULL, 10, NULL,\n    '78524d79-66ad-413e-ad69-9f09bf23d45c', cid, '{\"tier\":\"G\",\"lead_source\":null}'::jsonb\n  );\nEND $$;\n\nDO $$ DECLARE cid uuid := gen_random_uuid(); BEGIN\n  INSERT INTO contacts (id, organization_id, name, company, cnpj, email, phone, position, created_by, custom_fields)\n  VALUES (\n    cid, '19a2d40b-36ea-4668-8941-6496ecf7df67', 'COMERCIAL ZAFFARI LTDA', 'Comercial Zaffari',\n    '92016757000191', 'gmatto.s@zaffarinet.com.br', '(54) 3100-0076',\n    'SERGIO ZAFFARI', '78524d79-66ad-413e-ad69-9f09bf23d45c', '{\"tipo_pessoa\":\"pj\",\"cpf\":null,\"contact_person\":\"SERGIO ZAFFARI\",\"municipio\":\"PASSO FUNDO\",\"uf\":\"RS\"}'::jsonb\n  );\n  INSERT INTO opportunities (funnel_id, organization_id, title, stage, value, probability, description, owner_id, contact_id, custom_fields)\n  VALUES (\n    'f6ff0447-3d5d-4d66-88d4-ac434a01b578', '19a2d40b-36ea-4668-8941-6496ecf7df67', 'Comercial Zaffari', 'REUNI├âO',\n    NULL, 45, NULL,\n    '78524d79-66ad-413e-ad69-9f09bf23d45c', cid, '{\"tier\":\"E\",\"lead_source\":null}'::jsonb\n  );\nEND $$;\n\nDO $$ DECLARE cid uuid := gen_random_uuid(); BEGIN\n  INSERT INTO contacts (id, organization_id, name, company, cnpj, email, phone, position, created_by, custom_fields)\n  VALUES (\n    cid, '19a2d40b-36ea-4668-8941-6496ecf7df67', 'EXPRESSO NEPOMUCENO S/A', 'EXPRESSO NEPOBUCENO',\n    '19368927004447', 'tributario@expressonepomucemo.com.br', '(35) 3694-9896',\n    'Agn├®sio Carvalho de Souza', '78524d79-66ad-413e-ad69-9f09bf23d45c', '{\"tipo_pessoa\":\"pj\",\"cpf\":null,\"contact_person\":\"Agn├®sio Carvalho de Souza\",\"municipio\":\"GUAIBA\",\"uf\":\"RS\"}'::jsonb\n  );\n  INSERT INTO opportunities (funnel_id, organization_id, title, stage, value, probability, description, owner_id, contact_id, custom_fields)\n  VALUES (\n    'f6ff0447-3d5d-4d66-88d4-ac434a01b578', '19a2d40b-36ea-4668-8941-6496ecf7df67', 'EXPRESSO NEPOBUCENO', 'LEADS',\n    NULL, 10, NULL,\n    '78524d79-66ad-413e-ad69-9f09bf23d45c', cid, '{\"tier\":\"M\",\"lead_source\":null}'::jsonb\n  );\nEND $$;\n\nDO $$ DECLARE cid uuid := gen_random_uuid(); BEGIN\n  INSERT INTO contacts (id, organization_id, name, company, cnpj, email, phone, position, created_by, custom_fields)\n  VALUES (\n    cid, '19a2d40b-36ea-4668-8941-6496ecf7df67', 'GERDAU ACOS LONGOS S.A.', 'GERDAU',\n    '07358761020437', 'cpg-dteicms@gerdau.com.br', '(11) 3094-6600',\n    'Gustavo Werneck', '78524d79-66ad-413e-ad69-9f09bf23d45c', '{\"tipo_pessoa\":\"pj\",\"cpf\":null,\"contact_person\":\"Gustavo Werneck\",\"municipio\":\"PORTO ALEGRE\",\"uf\":\"RS\"}'::jsonb\n  );\n  INSERT INTO opportunities (funnel_id, organization_id, title, stage, value, probability, description, owner_id, contact_id, custom_fields)\n  VALUES (\n    'f6ff0447-3d5d-4d66-88d4-ac434a01b578', '19a2d40b-36ea-4668-8941-6496ecf7df67', 'GERDAU', 'REUNI├âO',\n    NULL, 45, NULL,\n    '78524d79-66ad-413e-ad69-9f09bf23d45c', cid, '{\"tier\":\"E\",\"lead_source\":null}'::jsonb\n  );\nEND $$;\n\nDO $$ DECLARE cid uuid := gen_random_uuid(); BEGIN\n  INSERT INTO contacts (id, organization_id, name, company, cnpj, email, phone, position, created_by, custom_fields)\n  VALUES (\n    cid, '19a2d40b-36ea-4668-8941-6496ecf7df67', 'MASAL S A INDUSTRIA E COMERCIO', 'MASAL',\n    '96299219000102', 'masal@masal.com.br', NULL,\n    'Cl├íudio Bier', '78524d79-66ad-413e-ad69-9f09bf23d45c', '{\"tipo_pessoa\":\"pj\",\"cpf\":null,\"contact_person\":\"Cl├íudio Bier\",\"municipio\":\"SANTO ANTONIO DA PATRULHA\",\"uf\":\"RS\"}'::jsonb\n  );\n  INSERT INTO opportunities (funnel_id, organization_id, title, stage, value, probability, description, owner_id, contact_id, custom_fields)\n  VALUES (\n    'f6ff0447-3d5d-4d66-88d4-ac434a01b578', '19a2d40b-36ea-4668-8941-6496ecf7df67', 'MASAL', 'QUALIFICADO',\n    NULL, 25, NULL,\n    '78524d79-66ad-413e-ad69-9f09bf23d45c', cid, '{\"tier\":\"G\",\"lead_source\":null}'::jsonb\n  );\nEND $$;\n\nDO $$ DECLARE cid uuid := gen_random_uuid(); BEGIN\n  INSERT INTO contacts (id, organization_id, name, company, cnpj, email, phone, position, created_by, custom_fields)\n  VALUES (\n    cid, '19a2d40b-36ea-4668-8941-6496ecf7df67', 'Grupo Meridian', 'Meridian',\n    NULL, 'rlopes@meridian.com', '(51) 3233-1122',\n    'Roberto Lopes', '78524d79-66ad-413e-ad69-9f09bf23d45c', '{\"tipo_pessoa\":\"pj\",\"cpf\":null,\"contact_person\":\"Roberto Lopes\",\"municipio\":\"S├úo Paulo\",\"uf\":\"SP\"}'::jsonb\n  );\n  INSERT INTO opportunities (funnel_id, organization_id, title, stage, value, probability, description, owner_id, contact_id, custom_fields)\n  VALUES (\n    'f6ff0447-3d5d-4d66-88d4-ac434a01b578', '19a2d40b-36ea-4668-8941-6496ecf7df67', 'Meridian', 'PROPOSTA_ENVIADA',\n    NULL, 65, NULL,\n    '78524d79-66ad-413e-ad69-9f09bf23d45c', cid, '{\"tier\":\"M\",\"lead_source\":null}'::jsonb\n  );\nEND $$;\n\nDO $$ DECLARE cid uuid := gen_random_uuid(); BEGIN\n  INSERT INTO contacts (id, organization_id, name, company, cnpj, email, phone, position, created_by, custom_fields)\n  VALUES (\n    cid, '19a2d40b-36ea-4668-8941-6496ecf7df67', 'NORTEL SUPRIMENTOS INDUSTRIAIS LTDA', 'NORTEL SUPRIMENTOS',\n    '46044053010500', 'juridico.tributario@sonepar.com.br', '(19) 2102-7700',\n    NULL, '78524d79-66ad-413e-ad69-9f09bf23d45c', '{\"tipo_pessoa\":\"pj\",\"cpf\":null,\"contact_person\":null,\"municipio\":\"GUAIBA\",\"uf\":\"RS\"}'::jsonb\n  );\n  INSERT INTO opportunities (funnel_id, organization_id, title, stage, value, probability, description, owner_id, contact_id, custom_fields)\n  VALUES (\n    'f6ff0447-3d5d-4d66-88d4-ac434a01b578', '19a2d40b-36ea-4668-8941-6496ecf7df67', 'NORTEL SUPRIMENTOS', 'LEADS',\n    NULL, 10, NULL,\n    '78524d79-66ad-413e-ad69-9f09bf23d45c', cid, '{\"tier\":\"G\",\"lead_source\":null}'::jsonb\n  );\nEND $$;\n\nDO $$ DECLARE cid uuid := gen_random_uuid(); BEGIN\n  INSERT INTO contacts (id, organization_id, name, company, cnpj, email, phone, position, created_by, custom_fields)\n  VALUES (\n    cid, '19a2d40b-36ea-4668-8941-6496ecf7df67', 'POLIMIX CONCRETO LTDA', 'POLIMIX',\n    '29067113044304', 'fiscalcdc@polimix.com.br', '(11) 4168-0300',\n    NULL, '78524d79-66ad-413e-ad69-9f09bf23d45c', '{\"tipo_pessoa\":\"pj\",\"cpf\":null,\"contact_person\":null,\"municipio\":\"GUAIBA\",\"uf\":\"RS\"}'::jsonb\n  );\n  INSERT INTO opportunities (funnel_id, organization_id, title, stage, value, probability, description, owner_id, contact_id, custom_fields)\n  VALUES (\n    'f6ff0447-3d5d-4d66-88d4-ac434a01b578', '19a2d40b-36ea-4668-8941-6496ecf7df67', 'POLIMIX', 'LEADS',\n    NULL, 10, NULL,\n    '78524d79-66ad-413e-ad69-9f09bf23d45c', cid, '{\"tier\":\"G\",\"lead_source\":null}'::jsonb\n  );\nEND $$;\n\nDO $$ DECLARE cid uuid := gen_random_uuid(); BEGIN\n  INSERT INTO contacts (id, organization_id, name, company, cnpj, email, phone, position, created_by, custom_fields)\n  VALUES (\n    cid, '19a2d40b-36ea-4668-8941-6496ecf7df67', 'REITER TRANSPORTES E LOGISTICA LTDA', 'REITERLOG GUAIBA',\n    '10466983002587', 'michel.paiva@reiterlog.com', '(51) 3479-4100',\n    'Vin├¡cius Reiter Pilz', '78524d79-66ad-413e-ad69-9f09bf23d45c', '{\"tipo_pessoa\":\"pj\",\"cpf\":null,\"contact_person\":\"Vin├¡cius Reiter Pilz\",\"municipio\":\"GUAIBA\",\"uf\":\"RS\"}'::jsonb\n  );\n  INSERT INTO opportunities (funnel_id, organization_id, title, stage, value, probability, description, owner_id, contact_id, custom_fields)\n  VALUES (\n    'f6ff0447-3d5d-4d66-88d4-ac434a01b578', '19a2d40b-36ea-4668-8941-6496ecf7df67', 'REITERLOG GUAIBA', 'LEADS',\n    NULL, 10, NULL,\n    '78524d79-66ad-413e-ad69-9f09bf23d45c', cid, '{\"tier\":\"G\",\"lead_source\":null}'::jsonb\n  );\nEND $$;\n\nDO $$ DECLARE cid uuid := gen_random_uuid(); BEGIN\n  INSERT INTO contacts (id, organization_id, name, company, cnpj, email, phone, position, created_by, custom_fields)\n  VALUES (\n    cid, '19a2d40b-36ea-4668-8941-6496ecf7df67', 'R. SCHAEFFER CONSTRUCOES LTDA - EM RECUPERACAO JUDICIAL', 'SCHAEFFER (RJ)',\n    '03329452000371', 'rschaeffer@rschaeffer.com.br', '(51) 3511-9000',\n    'Raul Schaeffer', '78524d79-66ad-413e-ad69-9f09bf23d45c', '{\"tipo_pessoa\":\"pj\",\"cpf\":null,\"contact_person\":\"Raul Schaeffer\",\"municipio\":\"GUAIBA\",\"uf\":\"RS\"}'::jsonb\n  );\n  INSERT INTO opportunities (funnel_id, organization_id, title, stage, value, probability, description, owner_id, contact_id, custom_fields)\n  VALUES (\n    'f6ff0447-3d5d-4d66-88d4-ac434a01b578', '19a2d40b-36ea-4668-8941-6496ecf7df67', 'SCHAEFFER (RJ)', 'LEADS',\n    NULL, 10, NULL,\n    '78524d79-66ad-413e-ad69-9f09bf23d45c', cid, '{\"tier\":\"M\",\"lead_source\":null}'::jsonb\n  );\nEND $$;\n\nDO $$ DECLARE cid uuid := gen_random_uuid(); BEGIN\n  INSERT INTO contacts (id, organization_id, name, company, cnpj, email, phone, position, created_by, custom_fields)\n  VALUES (\n    cid, '19a2d40b-36ea-4668-8941-6496ecf7df67', 'VIX TRANSPORTES DEDICADOS LTDA', 'VIX TRANSPORTES',\n    '09452900003593', 'contabilidade.log@vix.com.br', '(27) 2125-1800',\n    'Patr├¡cia Poupel Chieppe', '78524d79-66ad-413e-ad69-9f09bf23d45c', '{\"tipo_pessoa\":\"pj\",\"cpf\":null,\"contact_person\":\"Patr├¡cia Poupel Chieppe\",\"municipio\":\"GUAIBA\",\"uf\":\"RS\"}'::jsonb\n  );\n  INSERT INTO opportunities (funnel_id, organization_id, title, stage, value, probability, description, owner_id, contact_id, custom_fields)\n  VALUES (\n    'f6ff0447-3d5d-4d66-88d4-ac434a01b578', '19a2d40b-36ea-4668-8941-6496ecf7df67', 'VIX TRANSPORTES', 'LEADS',\n    NULL, 10, NULL,\n    '78524d79-66ad-413e-ad69-9f09bf23d45c', cid, '{\"tier\":\"G\",\"lead_source\":null}'::jsonb\n  );\nEND $$;\n\nCOMMIT;"
